
body { 
   font-family: 'Lato','Nobile',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 18px;
}

.page-footer {
  background-color: #45526e;
  color: #fff;
  padding: 24px;
}

.page-footer a {
  color: #fff;
}

.page-footer a:hover {
  color: #21d192;
}

.footer-copyright {
  background-color: #343a40;
  color: #fff;	
}

