# Jekyll _config
title: Welcome to boby.com.au
email: bobypt@gmail.com
description: >
  boby.com.au - Don't miss out on cool stuffs.
baseurl: ""
url: "http://boby.com.au"

# Build settings
markdown: kramdown
highlighter: rouge
permalink: pretty
paginate: 5
exclude: ["less","Dockerfile","README.md", "*.excalidraw", "notes", "_linkedin"]
author: Boby Thomas
kramdown:
  input: GFM
  syntax_highlighter: rouge

collections:
  oauth2:
    output: true
    permalink: /:collection/:name
    sort_by: order
  posts:
    permalink: /:categories/:year/:month/:day/:title.html
    output: true
  ai:
    output: true
    permalink: /ai/:name
  linkedin:
    output: false
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  - jemoji
  - jekyll-redirect-from
