<!-- Footer -->
<footer class=" text-center">
  <div class="page-footer">
    <div class="container ">
      <div class="row justify-content-md-center">
        <div class="col">
          | &nbsp;
          <a class="footer-link" href="/disclaimer">disclaimer</a> &nbsp; | &nbsp;
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col">
          <a href="mailto:bobypt@gmail.com">
            <i class="fas fa-at"></i>
          </a>
          <a href="https://www.linkedin.com/in/bobypt/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://medium.com/@bobypt">
            <i class="fab fa-medium-m"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- Copyright -->
  <div class="footer-copyright">Copyright © boby.com.au 2018 </div>
  <!-- Copyright -->

</footer>