<!-- Footer -->
<footer class="text-center">
  <div class="page-footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a class="footer-link" href="/contact">Get in Touch</a>
          <span class="mx-2">|</span>
          <a class="footer-link" href="/disclaimer">Disclaimer</a>
          <span class="mx-2">|</span>
          <a class="footer-link" href="/sitemap.xml">Sitemap</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="mailto:bobypt@gmail.com" aria-label="Email" class="mx-2">
            <i class="fas fa-envelope"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/bobypt/" aria-label="LinkedIn" class="mx-2">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a target="_blank" href="https://medium.com/@bobypt" aria-label="Medium" class="mx-2">
            <i class="fab fa-medium-m"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    Copyright © boby.com.au 2018-<script>document.write(new Date().getFullYear())</script>
  </div>
</footer>